Checks: >
  -*,
  modernize-*,
  bugprone-*,
  concurrency-*,
  misc-*,
  readability-*,
  performance-*,
  portability-*,
  google-*,
  linuxkernel-*,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-sizeof-expression,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-suspicious-memory-comparison,
  -bugprone-not-null-terminated-result,
  -bugprone-signal-handler,
  -bugprone-assignment-in-if-condition,
  -concurrency-mt-unsafe,
  -modernize-macro-to-enum,
  -misc-unused-parameters,
  -misc-misplaced-widening-cast,
  -misc-no-recursion,
  -readability-magic-numbers,
  -readability-use-anyofallof,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-isolate-declaration,
  -readability-else-after-return,
  -readability-redundant-control-flow,
  -readability-suspicious-call-argument,
  -google-readability-casting,
  -google-readability-todo,
  -performance-no-int-to-ptr,
#   clang-analyzer-*,
#   clang-analyzer-deadcode.DeadStores,
#   clang-analyzer-optin.performance.Padding,
#   -clang-analyzer-security.insecureAPI.*

# Turn all the warnings from the checks above into errors.
FormatStyle: file
